{% extends 'acct-base.html.twig' %}

{% block title %}Edit LedgerAccount{% endblock %}

{% block content %}
    <h1>Edit Ledger Account</h1>
    {{ include('accounting/ledger_account/_form.html.twig') }}


{% endblock %}
