{% extends 'acct-base.html.twig' %}

{% block title %}New Ledger Account{% endblock %}

{% block content %}
    {{  parent() }}
    <h1>Create new Ledger Account</h1>

    {{ include('accounting/ledger_account/_form.html.twig') }}

    <div class="row">
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
            <li class="btn btn-info"><a href="{{ path('accounting_ledger_account_index') }}">Back to list</a></li>
        </div>
    </div>    
{% endblock %}
