{% extends 'public.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}
<div class="wrapper">
    <h1>Welcome to Surf HOA</h1>
    
    <h2>Clean navigation of your HOA Information</h2>
    <div class="left">
        <p>Surf HOA makes managing your HOA simple with Dashboard for owners, accountants, vendors, 
            HOA Board and HOA Administrations. It includes features for each role to get things done.</p>
        <p>If you are a resident of an HOA, you will need to have your HOA add you as a user to the system.
            Sorry, self registration is not available.</p>
        
        <h3>HOA Admin Dashboard</h3>
        <p>The HOA Admin Dashboard provides features to manage your home HOA's (in case you manage multiple HOAs,
        Homeowners, buildings, units, and vendors. It also provides accounting functionality to manage accounts,
        create transactions and manage maintenance and service requests from Homeowners.</p>
        <h3>Owner Dashboard</h3>
        <p>The HOA Admin Dashboard provides features to manage your home HOA's (in case you manage multiple HOAs,
        Homeowners, buildings, units, and vendors. It also provides accounting functionality to manage accounts,
        create transactions and manage maintenance and service requests from Homeowners.</p>
    </div>
    
    
    
    
</div>
{% endblock %}
