{% extends 'public.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}
    {{  parent() }}
<div class="wrapper">
    <h1>Welcome to Surf HOA</h1>
    
    <h2>Clean navigation of your HOA Information</h2>
    <div class="left">
        <p>Surf HOA makes managing your HOA simple with Dashboard for owners, accountants, vendors, 
            HOA Board and HOA Administrations. It includes features for each role to get things done.</p>
        <p>If you are a resident of an HOA, you will need to have your HOA add you as a user to the system.
            Sorry, self registration is not available.</p>
        <div class="row">
            <div class="col-sm card">
                <div class=card-header>HOA Admin Dashboard</div>
                <div class="cardlist-bodyleft">
                    <p>The HOA Admin Dashboard provides features to manage your home HOA's (in case you manage multiple HOAs,
                    Homeowners, buildings, units, and vendors. It also provides accounting functionality to manage accounts,
                    create transactions and manage maintenance and service requests from Homeowners.</p>
                    <p>HOA Admins can schedule dues, assessment and other owner payments, post messages to homeowners.
                    Send emails and texts to homeowners and board members.</p>

                </div>
            </div>
            <div class="col-sm card">
                <div class=card-header>HOA Board Dashboard</div>
                <div class="cardlist-bodyleft">
                    <p>The HOA Board Dashboard provides features to allow your HOA Board to see the status of their HOA's,
                        Homeowners, buildings, units, service requests, and financial reports.</p>
                    <p>It also allows Board members to process service requests, maintenance requests and post messages to homeowners.
                </div>
            </div>
            <div class="col-sm card">
                <div class=card-header>Owner Dashboard</div>
                <div class="cardlist-bodyleft">
                    <p>The HOA Admin Dashboard provides features to manage your home HOA's (in case you manage multiple HOAs,
                    Homeowners, buildings, units, and vendors. It also provides accounting functionality to manage accounts,
                    create transactions and manage maintenance and service requests from Homeowners.</p>
                </div>
            </div>
    </div>
    
    
    
    
</div>
{% endblock %}
