{# empty Twig template #}
    <table>
        <thead><tr><th>Account</th><th>Balance</th></tr></thead>
        <tbody>
    {%  for account in accounts %}
        {%  if account.balance != 0 %}
        <tr><td>{{ account.name }}</td><td class="numbers" >{{ account.balance }}</tr>
        {% endif %}
    {%  endfor %}
        </tbody>
    </table>
