{% extends 'base.html.twig' %}

{% block title %}Owners Dashboard!{% endblock %}

{% block content %}
    <style>
        .example-wrapper { }
        h1 {text-align: center;}
        h2 {}
    </style>

    <div class="example-wrapper">
        <h1>Owner Dashboard for {{ app.user.name }}</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm jumbotron jumbotron-fluid">
                    <div class="container">
                        <h2>Important Messages</h2>
                    </div>
                </div>
                <div class="col-sm jumbotron jumbotron-fluid">
                    <div class="container">
                        <h2>Payment Info</h2>
                    </div>
                </div>
                <div class="col-sm jumbotron jumbotron-fluid">
                    <div class="container">
                        <h2>Service Requests</h2>
                    </div>
                </div>
            </div>
        </div>
        <table>
            {% for owner in owner_records %}
                <tr>
                    <td>{{  owner.unit }}</td>
                    <td>{{ owner.unit.description }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
