{% extends 'admin-base.html.twig' %}

{% block title %}Edit HOA{% endblock %}

{% block content %}
    <h1>Edit HOA</h1>

    {{ include('hoa/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('hoa_index') }}">back to list</a>

    {{ include('hoa/_delete_form.html.twig') }}
{% endblock %}
