{% extends 'admin-base.html.twig' %}

{% block title %}New HOA{% endblock %}

{% block content %}
    <h1>Create new HOA</h1>

    {{ include('hoa/_form.html.twig') }}

    <a href="{{ path('hoa_index') }}">back to list</a>
{% endblock %}
