{% extends 'admin-base.html.twig' %}

{% block title %}New Maintenance Object{% endblock %}

{% block content %}
    {{  parent() }}
    <h1>Create new Maintenance Object</h1>

    {{ include('maintenance_object/_form.html.twig') }}

    <a href="{{ path('maintenance_object_index') }}">back to list</a>
{% endblock %}
