{% extends 'acct-base.html.twig' %}

{% block title %}Edit Hoa Report Category{% endblock %}

{% block content %}
    {{  parent() }}
    <h1>Edit Hoa Report Category</h1>

    {{ include('accounting/hoa_report_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_accounting_hoa_report_category_index') }}">back to list</a>

    {{ include('accounting/hoa_report_category/_delete_form.html.twig') }}
{% endblock %}
