{% extends 'acct-base.html.twig' %}

{% block title %}New Hoa Report Category{% endblock %}

{% block content %}
    {{  parent() }}
    <h1>Create new Hoa Report Category</h1>

    {{ include('accounting/hoa_report_category/_form.html.twig') }}

    <a href="{{ path('app_accounting_hoa_report_category_index') }}">back to list</a>
{% endblock %}
