body {
    background-color: #ffffff;
    margin: 0;
}


#userDropdown {
    float:right;
}


#content {
    font-size: 1.2em;
    padding: 15px;
    margin:auto;
    background-color: lightgray;
}

.wrapper {
    border-color: lightgray;
    border-width: 10px;
    border-radius: 10px;
    margin:auto;
    padding:30px;
    background-color: white;
}

.nav-item, .nav-link {
    color: white !important;
}