body {
    background-color: #ffffff;
    margin: 0;
}

#content {
    background-color: #ffffff;
    font-size: 1.3em;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

#nav-user {
    float:right;
}

