body {
    background-color: #ffffff;
    margin: 0;
}

#content {
    background-color: #ffffff;
    font-size: 1.2em;
    margin-left: 5px;
    margin-right: 5px;

}

#nav-user {
    float:right;
}

