body {
    background-color: lightgray;
    margin: 0px;
}

#content {
    background-color: lightgray;
    border-color: red;
    border-width: 10px;
    border-radius: 10px;
}

.wrapper {
    margin:auto;
    padding:100px;
}