body {
    background-color: lightgray;
    margin: 0px;
}

#content {
    background-color: lightgray;
}

.wrapper {
    margin:auto;
    padding:1em;
}

.numbers {
    text-align: right;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.section-border
{
    border: 3px solid blue;
    border-radius: 5px;
    
}

.field-label
{
    background: #87CEEB;
}