{% extends 'admin-base.html.twig' %}

{% block title %}New Owner{% endblock %}

{% block content %}
    {{  parent() }}
    <h1>Create new Owner</h1>
    <div class="form">
        {{ include('owner/_form.html.twig') }}

    </div>
{% endblock %}
