{% extends 'acct-base.html.twig' %}

{% block title %}New Owner Invoice Type{% endblock %}

{% block content %}
    <h1>Create new Owner Invoice Type</h1>

    {{ include('accounting/owner_invoice_type/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_accounting_owner_invoice_type_index') }}">back to list</a>
{% endblock %}
