{% extends 'admin-base.html.twig' %}

{% block title %}Edit Owner Units{% endblock %}

{% block content %}
    {{  parent() }}
    <h1>Edit Owner Units</h1>

    {{ include('unit_owners/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_unit_owners_index') }}">back to list</a>

    {{ include('unit_owners/_delete_form.html.twig') }}
{% endblock %}
