{% extends "admin-base.html.twig' %}

{% block title %}New Owner Units{% endblock %}

{% block content%}
    {{  parent() }}
    <h1>Create new Owner Units</h1>

    {{ include('unit_owners/_form.html.twig') }}

    <a href="{{ path('app_unit_owners_index') }}">back to list</a>
{% endblock %}
