{% extends 'admin-base.html.twig' %}

{% block title %}Hello AdminDashController!{% endblock %}

{% block content %}


<div class="wrapper">
    <h1>Admin Dashboard for {{ app.user.name }}</h1>
        <div class="container">
            <div class="row">
                <h4>Active HOA:  {{ activeHoa }} 
                    <a class="btn btn-default" href="{{ path("user_select_hoa", {'target': app.request.attributes.get('_route')}) }}">Change</a>
                </h4>
            </div>
            <div class="row">
                <div class="col-sm jumbotron jumbotron-fluid text-light bg-secondary">
                    <div class="container">
                        <h2>Financials</h2>
                        {{  include('accounting/transaction/transactionTable.html.twig',{'accounts': activeHoa.ledgerAccounts }) }}
                    </div>
                </div>
                <div class="col-sm jumbotron jumbotron-fluid">
                    <div class="container">
                        <h2>Unit Info</h2>
                    </div>
                </div>
                <div class="col-sm jumbotron jumbotron-fluid">
                    <div class="container">
                        <h2>Service Requests</h2>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}
