{% extends 'admin-base.html.twig' %}

{% block title %}New Message Category{% endblock %}

{% block content %}
    {{  parent() }}
    <h1>Create new Message Category</h1>

    {{ include('message_category/_form.html.twig') }}

    <a href="{{ path('app_message_category_index') }}">back to list</a>
{% endblock %}
